.main{
    width: 100vw;
    background-color: blue;
}

.bgimg{
    color: white;
    background-image: url(img/masp.jpg);
    background-repeat: no-repeat;
    text-align: center;
}

.bgimg-naocentral, .bgimg-central{
    background-image: url(img/senac.jpg);
    height: 400px;
    width: 400px;
    margin: 10px;
}
.bgimg-central{
    background-position: center center;
    background-size: cover;
}