/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para o cabeçalho */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.logo {
    margin: 0;
}

.nav {
    float: right;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para as seções */
.section {
    padding: 50px 0;
}

.sobre {
    background-color: #fff;
}

.cursos .curso {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.equipe .membro-equipe {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    margin: 0 2.5%;
    float: left;
    text-align: center;
}

.equipe .membro-equipe img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contato .form-contato input,
.contato .form-contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato .form-contato button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para o rodapé */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
